.taskListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 2rem 2rem 2rem;
  margin-top: -4rem;

  flex: 1;

  header {
    max-width: 1000px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    gap: 1rem;

    & > div {
      display: flex;
      align-items: center;
      gap: 1rem;

      svg {
        transition: transform .5s;
        cursor: pointer;
      }

      svg:hover {
        transform: rotate(360deg);
      }
    }
  }
}

.searchBox {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.list {
  width: 100%;
  max-width: 1000px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  margin-top: 3rem;
}

.emptyTasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  font-weight: bold;
  
  color: var(--gray-600);
}

.ldsring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.ldsring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  margin: 8px;
  border: 3px solid #000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000 transparent transparent transparent;
}
.ldsring div:nth-child(1) {
  animation-delay: -0.45s;
}
.ldsring div:nth-child(2) {
  animation-delay: -0.3s;
}
.ldsring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
